
body {
	font-family: 'Glass Antiqua', cursive;
}

.menu {
	margin-bottom: 30px;
}
 #navbar-example2 {
 	position: fixed;
 	top: 0;
    width: 100%;
    z-index:1;

 }

.jumbotron {
	background-image: url("tlo.jpg");
	background-size: cover;
 	min-height: 90%;
}

.script{
	font-size: 28px;
}

.container {
	background-color: black;
	padding:10px;
	margin-top: px;
	margin-left: 1%;
	margin-right: 1%;
	text-align: left;
	opacity: 0.4;
}

.display-4 {
	padding-top: 2%;
	font-weight: 320;
	
}

.container {
	background-color: white;
}


}
.text {
	margin: 20px;
	padding: 2px;
	}

.box {
  box-model: border-box;
  border: 3px solid transparent;
  background-clip: padding-box;
}

.card1{
	height: 260px;
color: black;
}

@media screen and (max-width: 600px) {
    .card1 {
        height:300px;
    }
}

#wiekszy {
	margin: 10px;
}

p {
	text-align: center;
	
}
ul {
	text-align: center;
	list-style-type: none;
	}
.footer {
	font-size: 12px;
	
}